<launch>

   <!-- Launch the sensors used for VINS and Octomap -->
   <include file="$(find vins_estimator)/launch/$(env ROS_NAMESPACE)_vins_sensors.launch"/>
    
   <!-- Start the VINS-mono node -->
   <node pkg="timed_roslaunch" type="timed_roslaunch.sh" name="timed_roslaunch"
         args="8 vins_estimator realsense_infra.launch" output="screen"/>

   <!-- Launch Calibu Tracker -->
   <include file="$(find vins_estimator)/launch/calibu_tracker.launch"/>

   <!-- Launch Octomap -->
   <include file="$(find octomap_server)launch/vins_octomap.launch"/>


   <!-- Launch vins2odom -->
   <node pkg="rosflight" name="vins2odom" type="vins2odom"/>

   <!-- Launch Planner -->
<!--
   <include file="$(find bezier_planer)/launch/subt_vins_planner.launch"/>
-->
p 
   <!-- Launch Exploration -->
<!--
   <include file="$(find msfm3d)/launch/msfm3d.launch" />
-->

   <!-- Launch Collaborative Mapping -->
<!--   <include file="$(find vins_estimator)/launch/collab_mapping.launch"/>
-->
</launch>
