<launch>
    
    <!-- Start ROSFlight for imu/data topic -->
    <include file="/home/ohrad/catkin_ws/src/rosflight/rosflight/launch/rf.launch" />
    <include file="/home/ohrad/catkin_ws/src/roscopter/launch/load_params.launch" />
    
    <!-- Start realsense node for /camera/color/image_raw topic -->
    <include file="/home/ohrad/catkin_ws/src/realsense/realsense2_camera/launch/rs_camera.launch" />

    <!-- Start the VINS-mono node -->
   <!-- <include file="/home/ohrad/catkin_ws/src/VINS-Mono/vins_estimator/launch/realsense_color.launch" />
    -->

    <!-- Start optitrack for ground truth testing -->
    <include file="/opt/ros/melodic/share/vrpn_client_ros/launch/sample.launch" />

    <!-- Start the roscopter waypoint commander -->
    <node pkg="roscopter" type="simple_command_pub.py" name="waypoint_commander" output="screen" />

    <!-- Start the roscopter controller -->
    <!-- <node pkg="roscopter" type="vins_controller" name="controller_node" output="screen" /> -->

</launch>
