<launch>
    
    <!-- Start ROSFlight for imu/data topic -->
    <include file="/home/ohrad/catkin_ws/src/rosflight/rosflight/launch/rf.launch" />

    <!-- Start realsense node for /camera/color/image_raw topic -->
    <include file="/home/ohrad/catkin_ws/src/realsense/realsense2_camera/launch/rs_rgbd.launch" />

    <!-- Start the VINS-mono node -->
   <!-- <include file="/home/ohrad/catkin_ws/src/VINS-Mono/vins_estimator/launch/realsense_color.launch" />
    -->

    <!-- Start optitrack for ground truth testing -->
<!--    <include file="/opt/ros/melodic/share/vrpn_client_ros/launch/sample.launch" />
-->
</launch>
